<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFT 排名</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>TFT 排名</h1>
    <button id="mode-toggle" class="mode-toggle">切換模式</button>
    <div>
        <button id="single-player-btn" class="player-btn">單人排位</button>
        <button id="double-player-btn" class="player-btn">雙人排位</button>
    </div>
    <div id="players-container"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
